@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slideInFromRight {
  animation: slideInFromRight 1s ease-in-out;
}

.slideInFromTop {
  animation: slideInFromTop 1s ease-in-out;
}

.slideInFromBottom {
  animation: slideInFromBottom 1s ease-in-out;
}
